body {
  line-height: normal;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  margin-right: 3rem;
}

.danger-divider {
  border-top: 4px solid #e3342f;
}

.card .participate-button {
  align-self: flex-end;
}

/* WORKSHOP DATE IN CARD */

.card .date {
  min-width: 150px;
}

.date--start .date__card {
  border-top: 4px solid $teal;
}

.date--start .date__heading {
  color: $teal;
}

.date--end .date__card {
  border-top: 4px solid $red;
}

.date--end .date__heading {
  color: $red;
}
