// APP
body {
  line-height: normal;
}

.sticky-bottom {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.footer-laravel {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.04);
}

.footer-list {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 10px 0px;
  display: block;
}

.footer-list li {
  display: inline;
}

@media (max-width: 768px) {
  .footer-list {
    display: flex;
    flex-direction: column;
  }
}

.footer-list li {
  margin: 5px 20px;
}

.footer-desc {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.navbar-brand {
  margin-right: 3rem;
}

.danger-divider {
  border-top: 4px solid #e3342f;
}

.card .participate-button {
  align-self: flex-end;
}

.border-width-2 {
  border-width: 2px;
}

// TODO: See if we can remove in favor of bootstrap class
.list-group {
  list-style: none;
}

// TODO: See if we can remove in favor of bootstrap class
.list-group-horizontal {
  flex-direction: row;
}

/* WORKSHOP DATE IN CARD */

.card .date {
  min-width: 150px;
}

.date--start .date__card {
  border-top: 4px solid $teal;
}

.date--start .date__heading {
  color: $teal;
}

.date--end .date__card {
  border-top: 4px solid $red;
}

.date--end .date__heading {
  color: $red;
}

/* Dashboard */
.avatar-wrapper {
  width: $user-dashboard-avatar-dimensions;
  height: $user-dashboard-avatar-dimensions;
  background-image: url('../images/placeholder-ghost.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-width: 2px;
  border-style: solid;
}

.linked-in__login {
  background-image: url('../images/linkedin/li_default.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 40px;
}

.linked-in__login:hover {
  background-image: url('../images/linkedin/li_hover.png');
}

.linked-in__login:active {
  background-image: url('../images/linkedin/li_active.png');
}
