body {
    line-height: normal;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
    margin-right: 3rem;
}

.danger-divider {
    border-top: 4px solid #e3342f;
}
